<h1>新增書本</h1>

  <%= form_for(@book) do |f| %>
    <%= f.label :name, "姓名" %>
    <%= f.text_field :name %> <br />

    <%= f.label :introduction, "簡介" %>
    <%= f.text_field :introduction %> <br />

    <%= f.label :authorname, "作者姓名" %>
    <%= f.text_field :authorname %> <br />

    <%= f.label :price, "售價" %>
    <%= f.text_area :price %> <br />

    <%= f.submit %>
  <% end %>

  <br />
  <%= link_to '回書本列表', books_path %>